body {
  background-color: #3f6d63;
}

.centred {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.blur-bg-white {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.137);
}

.form-control,
.form-control:hover,
.form-control:focus,
.form-control:visited {
  background-color: transparent;
  color: white;
  box-shadow: none;
}

/*Form: transparent autofill*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}